{% extends 'header.html' %}
<!-- {% load static %} -->

{% block title %} Features {% endblock title %}

{% block content %}
<!--- panel wrap div end -->
<div class="page-wrap">
  <div class="page-wrapper">
    <div class="primary-content marRight30" style="width: 100%;">
      <div class="mid-panel">
        <div class="mid-panel-content">
          <div class="title">
            <h1>features</h1>
          </div>
          <div class="border"></div>
          <h2>Welcome to My Travel Blog! 🌍✈️</h2>
          <p>  

            Hello, fellow explorers! Whether you're a seasoned traveler or someone dreaming of their first adventure, you've landed in the right place. This travel blog is my little corner of the internet, where I share stories, tips, and guides from my journeys around the world.  
            <br>
            <br>
           <b> Why Travel? </b> 
            <br>

            Traveling is more than just visiting new places; it's about experiencing different cultures, meeting new people, and stepping out of your comfort zone. It's about the stories you create and the memories you carry with you forever.  
            <br>
            <b>What You’ll Find Here  </b>
<br>
            - Destination Guides:Explore hidden gems, popular tourist spots, and unique experiences for destinations worldwide. <br> 
            - Travel Tips: From packing hacks to budgeting advice, I'll share everything you need to make your trip seamless and stress-free.  <br>  
            - Local Food Experiences: A deep dive into the flavors of the world, because no trip is complete without trying the local cuisine!  <br>  
            - Adventure Diaries: Stories from trekking trails, serene beaches, bustling cities, and tranquil countrysides.  
            <br>
            <b>How I Can Help You Plan Your Next Adventure</b> <br>  
            - I aim to make your travel planning easy and exciting. My blog covers:   <br> 
            - Itineraries for different travel styles (solo, family, or group).   <br> 
            - Reviews of accommodations, transport options, and attractions.  
            - Tips on traveling sustainably and respecting local cultures.  
            <br>
            <b>Let’s Connect!  </b> <br> 
            Traveling is more fun when shared. I'd love to hear about your experiences, answer your questions, or even plan adventures together! Comment, share your feedback, or reach out to me through the Contact Me  section.  
            <br>
            Pack your bags, and let’s explore this beautiful planet together. 🌎✨  
            
            Stay curious,   <br> 
            <b>[Pratiksha Anil Chavan]</b>
          
        </div>
      </div>
    </div>
   
{% endblock content %}